@page
@model RegisterModel
@{
    ViewData ["Title"] = "Yeni Hesap Oluştur";
}

<h1 style="color:white">@ViewData["Title"]</h1>
<style>
   .background-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

        .background-image img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            filter: brightness(0.5); /* Haritanın parlaklığını azaltın */
        }
            .content h1{
        color: white;
        font-size: 4em;
    }
</style>
<div class="background-image">
    <img src="~/img/kutuphanee.jpg" />
</div>

<div class="text-center">
    
<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Mail Adresi</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Yeni Şifre</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Şifre Tekrar</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Ogrencino" class="form-control"  aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Ogrencino">Öğrenci No</label>
                <span asp-validation-for="Input.Ogrencino" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Adres" class="form-control"  aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Adres">Adres</label>
                <span asp-validation-for="Input.Adres" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Fakulte" class="form-control"  aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Fakulte">Fakülte</label>
                <span asp-validation-for="Input.Fakulte" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Bolum" class="form-control"  aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Bolum">Bölüm</label>
                <span asp-validation-for="Input.Bolum" class="text-danger"></span>
            </div>


            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Kayıt Ol</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
           
            
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                       
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</div>